.container-fluid {
    background-size: cover;
    /* height: 100vh; */
}

.video {
    height: inherit;
    width: 500px;
}

.table {
    width: 500px;
    background-color: rgb(107, 98, 98);
    margin-left: auto;
    margin-right: auto;
    color: rgb(252, 247, 248);
    border-radius: 10px;
}