{% extends "base.html" %} {% load static %} {% block page_title %}Camera Details{% endblock %} {% block css_files %}
<link rel="stylesheet" href="{% static 'css/camera-detail.css' %}"> {% endblock %} {% block content%} {% if user.is_authenticated %}

<nav style="background-color: black !important;" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div style="background-color: black;" class="container-fluid">
        <a style="font-size: 2em !important;" class="navbar-brand" href="#">FaceRecog</a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
        <div style="justify-content: flex-end;" class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a style="font-size: 1.6em !important; margin-left:10px; margin-right:30px;" class="nav-link active" aria-current="page" href="{% url 'CameraFormPage' %}">Home</a>
                <a href="{% url 'LogoutPage' %}">
                    <button style="background-color:yellow; font-size:1.2em;margin-top:5px;" class="btn login_btn">Logout</button>

                </a>
            </div>
        </div>
    </div>
</nav>

{% else %} {% endif %}
<section class="container-fluid" style="background-image: url('/static/img/camera-tbl1.jpg');">
    <div class="row">
        <div class="col-12" style="color: rgb(79, 206, 238);">
            <h1 style="color: rgb(238, 230, 232);">Camera Details</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Camera Name</th>
                        <th scope="col">Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Position</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Camera 1</th>
                        <td>Mark</td>
                        <td>10/3/21</td>
                        <td>10:30:20 A.M </td>
                        <td>IN</td>
                    </tr>
                    <tr>
                        <th scope="row">Camera 2</th>
                        <td>John</td>
                        <td>10/3/21</td>
                        <td>11:30:20 A.M </td>
                        <td>IN</td>
                    </tr>
                    <tr>
                        <th scope="row">Camera 3</th>
                        <td>Smith</td>
                        <td>10/3/21</td>
                        <td>10:40:20 A.M </td>
                        <td>IN</td>
                    </tr>
                    <tr>
                        <th scope="row">Camera 2</th>
                        <td>David</td>
                        <td>10/3/21</td>
                        <td>10:30:20 A.M </td>
                        <td>IN</td>
                    </tr>
                    <tr>
                        <th scope="row">Camera 5</th>
                        <td>Backem</td>
                        <td>10/3/21</td>
                        <td>10:33:20 A.M </td>
                        <td>IN</td>
                    </tr>
                    <tr>
                        <th scope="row">Camera 1</th>
                        <td>Roni</td>
                        <td>10/3/21</td>
                        <td>10:10:20 A.M </td>
                        <td>IN</td>
                    </tr>
                    <tr>
                        <th scope="row">Camera 11</th>
                        <td>John</td>
                        <td>10/3/21</td>
                        <td>02:30:20 P.M </td>
                        <td>IN</td>
                    </tr>
                    <tr>
                        <th scope="row">Camera 3</th>
                        <td>Miller</td>
                        <td>10/3/21</td>
                        <td>10:05:20 A.M </td>
                        <td>IN</td>
                    </tr>
                    <tr>
                        <th scope="row">Camera 8</th>
                        <td>Alex</td>
                        <td>10/3/21</td>
                        <td>05:30:20 P.M </td>
                        <td>Out</td>
                    </tr>
                    <tr>
                        <th scope="row">Camera 10</th>
                        <td>Backem</td>
                        <td>10/3/21</td>
                        <td>04:30:20 P.M </td>
                        <td>Out</td>
                    </tr>
                    <tr>
                        <th scope="row">Camera 12</th>
                        <td>Mark</td>
                        <td>10/3/21</td>
                        <td>01:30:20 P.M </td>
                        <td>Out</td>
                    </tr>
                </tbody>
            </table>
        </div>
</section>
{% endblock %}